@charset "UTF-8";

@media screen and (max-width: 1098px) {
    img {
        width: 80%;
    }

    .l_form__color {
        padding-left: 1rem;
    }

    .l_form__text {
        padding-left: 1rem;
        font-size: 3rem;
    }

    p {
        padding-left: 1rem;
    }

    form {
        padding-left: 1rem;
    }

    .header-container {
        display: flex;
        flex-flow: column wrap;
    }

    .container-main {
        padding-top: 4rem;
    }

    input#iemail,
    input#ipassword {
        width: 80%;
    }

}

@media screen and (max-width: 650px) {
    .header-container {
        display: flex;
        flex-flow: column wrap;
    }

    .l_title__color {
        font-size: 4rem;
    }

    h1 {
        font-size: 3rem;
    }

    .container-main {
        padding-top: 3rem;
        display: flex;
        flex-flow: column wrap;
    }

    img {
        width: 100%;
        padding-top: 1rem
    }

    .l_list__btn1 {
        border-bottom: 2px solid #9c06cea1;
        
        padding: .7rem;

    }

    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-flow: row wrap;
        gap: 0.6rem;
        padding-top: 0.5rem 
}

}